@model TMS_Application.ViewModel.BatchViewModel

@{
    ViewData["Title"] = "Details";
}
<style>
    .updateBorder{
        margin-left:15px;
    }
</style>

<div>
    
    <dl class="row">       
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchCount)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(Model=>Model.EnrolledCount)
        </dt>
        <dd class="col-sm-10">
			@Html.DisplayFor(Model => Model.EnrolledCount)
        </dd>
    </dl>
</div>
 @if(ViewBag.UserRole != "User")
 {
    <div>
        @Html.ActionLink("Edit", "Edit", new {  id = Model.BatchId }, new { @class = "btn btn-primary updateBorder"})
        @Html.ActionLink("Back", "Index", new { id = Model.BatchId }, new { @class = "btn btn-primary updateBorder" })
    </div>
 }
 else{

    <div>
        @Html.ActionLink("Back", "ViewAvailableBatches", new { id = Model.BatchId }, new { @class = "btn btn-primary updateBorder" })
    </div>
 }
  