@model IEnumerable<TMS_Application.ViewModel.BatchViewModel>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Card.css" rel="stylesheet"/>
@{
    if(ViewBag.msg!=null)
    {
        @ViewBag.msg
    }
    else{

<head>

</head>
<p>
    <a asp-action="Create"  class="btn btn-primary">Create New</a>
</p>
<div class="card-container">

                    @foreach (var item in Model)
                    {
                        <div class="card" style="padding:5px;">
                            <div class="card-title"></div>
                            <div class="card-content">
                                <p><strong>Batch Name : </strong>@Html.DisplayFor(modelItem => item.BatchName)</p>
                                <p><strong>Start Date: </strong> @Html.DisplayFor(modelItem => item.StartDate)</p>
                                <p><strong>End Date: </strong> @Html.DisplayFor(modelItem => item.EndDate)</p>
                                <p><strong>Batch Count: </strong> @Html.DisplayFor(modelItem => item.BatchCount)</p>
                            </div>
                            <div class="card-actions">
                                @Html.ActionLink("Edit", "Edit", new { id = item.BatchId }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.BatchId }, new { @class = "btn btn-secondary" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.BatchId }, new { @class = "btn btn-danger" }) |
                            </div>
                        </div>
                    }

   
</div>
}}

