@model TMS_Application.Models.Course

@{
    ViewData["Title"] = "Delete";
}
@{
    if(ViewBag.msg!=null){
        @ViewBag.msg
    }
    else{
    
<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt> 
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availablity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availablity)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt> 
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-close-white" asp-action="Index">Back to List</a>
    </form>
</div>
}}