@model TMS_Application.Models.Course

@{
    ViewData["Title"] = "Details";
}
<style>
    td{
        font-size:15px;        
    }
    tr{
        text-align:left;
    }
    
</style>
<div class="card-container">
    <table class="card col-lg-auto mb-4">>
        <thead class="card-title">
            <tr>
                <td colspan="2" style="text-align:center;"> Course Details </td>
            </tr>
        </thead>
        <tbody class="card-content">
            <tr>
                <td>@Html.DisplayNameFor(model => model.CourseName) : </td>
                <td>@Html.DisplayFor(model => model.CourseName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CourseDescription) : </td>
                <td> @Html.DisplayFor(model => model.CourseDescription)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DurationInDays) : </td>
                <td>@Html.DisplayFor(model => model.DurationInDays)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Availablity) : </td>
                <td>@Html.DisplayFor(model => model.Availablity)</td>
            </tr>

            @if (ViewBag.UserRole != "User")
            {
                <tr>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = Model.CourseId },new { @class = "btn btn-primary"}) </td>
                    <td>@Html.ActionLink("Back", "Index", new { @class = "btn btn-primary" })</td>
                </tr>
            }
            else{
                <tr>
                    <td colspan="2">@Html.ActionLink("Back", "ViewAvailableCourses", new { @class = "btn btn-primary" })</td>
                </tr>
            }
        </tbody>
    </table>   
</div>

