@model IEnumerable<TMS_Application.Models.Course>

    <link href="~/css/Card.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
}
@{
    if (@ViewBag.msg != null)
    {
        @ViewBag.msg
    }
    else
    {

<p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="card-container">
            
            @foreach (var item in Model)
            {
                <div class="card" style="padding:5px;">
                    <div class="card-title"></div>
                    <div class="card-content">
                        <p><strong>Course Name: </strong>@Html.DisplayFor(modelItem => item.CourseName)</p>
                        <p><strong>Course Description: </strong> @Html.DisplayFor(modelItem => item.CourseDescription)</p>
                        <p><strong>Duration In Days: </strong> @Html.DisplayFor(modelItem => item.DurationInDays)</p>
                        <p><strong>Availablity of Course: </strong> @Html.DisplayFor(modelItem => item.Availablity)</p>
                    </div>
                    <div class="card-actions">
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseId }, new { @class = "btn btn-secondary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }, new { @class = "btn btn-danger" }) |
                            </div>
                </div>
            }            

       </div>
       }}