@model TMS_Application.ViewModel.EnrollmentViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentStatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentStatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BatchName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary" })
</div>
