@model IEnumerable<TMS_Application.ViewModel.EnrollmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{
    if(ViewBag.msg!=null){
    @ViewBag.msg;
    }
    else{

<table class="table">
    <thead>
        <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BatchName)
                    </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedDate)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.BatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentStatus)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.RequestedDate) 
            </td>                       
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EnrollmentId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EnrollmentId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentId })
            </td>
        </tr>
}
    </tbody>
</table>
}}