@model IEnumerable<TMS_Application.ViewModel.UserRoleViewModel>

@{
    ViewData["Title"] = "Index";
}
@{
    if(ViewBag.msg!=null){
        @ViewBag.msg
    }
    else{
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
                       
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
                <td>
                    @Html.DisplayFor(modelitem => item.ManagerName)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.UserId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
}}