@model IEnumerable<TMS_Application.ViewModel.UserRoleViewModel>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Card.css" rel="stylesheet" asp-append-version="true" />

@{
    if (ViewBag.msg != null)
    {
        @ViewBag.msg
    }
    else
    {       
        <div class="card-container few-cards">

            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-title"> @Html.DisplayFor(modelItem => item.UserName) </div>
                    <div class="card-content">
                        <p><strong>@Html.DisplayNameFor(modelItem => item.RoleName) : </strong> @Html.DisplayFor(modelItem => item.RoleName)</p>
                        <p><strong>@Html.DisplayNameFor(modelItem => item.EmailId): </strong> @Html.DisplayFor(modelItem => item.EmailId)</p>
                        <p><strong>@Html.DisplayNameFor(modelItem => item.Password) : </strong> @Html.DisplayFor(modelItem => item.Password)</p>
                        <p><strong>@Html.DisplayNameFor(modelItem => item.ManagerName) : </strong> @Html.DisplayFor(modelItem => item.ManagerName)</p>
                    </div>
                    <div class="card-actions">
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btn btn-secondary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger" }) |
                    </div>
                </div>
            }
        </div>
    }
}