@model IEnumerable<TMS_Application.ViewModel.UserRoleViewModel>

    <link href="~/css/Card.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
}
@{
    if(ViewBag.msg!=null)
    {
        @ViewBag.msg
    }
    else
    {
<p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
        <div class="card-container">
            
            @foreach (var item in Model)
            {
                <div class="card" style="padding:5px;">
                    <div class="card-title"></div>
                    <div class="card-content">
                        <p><strong>User Name: </strong>@Html.DisplayFor(modelItem => item.UserName)</p>
                        <p><strong>Role Name: </strong> @Html.DisplayFor(modelItem => item.RoleName)</p>
                        <p><strong>Password : </strong> @Html.DisplayFor(modelItem => item.Password)</p>
                        <p><strong>Manager Name: </strong> @Html.DisplayFor(modelItem => item.ManagerName)</p>
                    </div>
                    <div class="card-actions">
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btn btn-secondary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger" }) |
                    </div>
                </div>
            }
        </div>
}}